.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/database.php
application/config/secrets.php
application/config/config.php
application/config/facebook_ion_auth.php
application/config/interest.php

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
application/vendor/*
application/phinx.yml
application/tests/build/*

repo.php
vendor/*
uploads/
public/img/subs/*
Dockerfile
# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project


# Test
